@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


@font-face {
  font-family: "DisneyLand";
  src: url("./fonts/waltographUI.ttf");
}
:root {
  --background: #fffffe;
  --dark-blue: #094067;
  --red: #ef4565;
  --sky-blue: #3da9fc;


}
*{
  font-family: 'DisneyLand', sans-serif;
}
p {
  font-size: 1.1rem;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

